:root {
  --primary-color: #186e83;
  /* --primary-color: #0d3e6f; */
  --primary-white: #ffffff;
  --prept-pink: #c4236d;
  --light-gray: #f0f0f0;
  --font-gray: #606060;
  --font-gray-dark: #707070;
  --primary-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  --secondary-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  --logo-shadow: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.5));
  --btn-green: #3e864d;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--font-gray-dark);
  color: var(--font-gray);
  height: 100%;
}

#root {
  height: 100%;
}

.maingrid {
  display: grid;
  grid-template-columns: auto minmax(400px, 800px) auto;
  grid-template-rows: auto 100% auto;
  min-height: 100%;
}
.grid_nav {
  background-color: var(--primary-color);
}
.grid_footer {
  /* align-self: end; */
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* BEGIN PREPT LOGO STYLE */
.logo_login {
  margin-bottom: 0;
  font-size: 3.5em;
  filter: var(--logo-shadow);
}

.logo_tagline {
  margin-top: 0.5em;
  filter: var(--logo-shadow);
}

.logo-lg {
  width: 60px;
}

/* END PREPT LOGO */

/* BEGIN NAVBAR STYLE */
nav {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

.navlinks {
  display: flex;
  width: 60%;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
}
.navlinks li {
  color: var(--primary-white);
  list-style: none;
  margin: 0;
}

.logo_nav {
  color: var(--primary-white);
  margin: 0;
  font-size: 1.8em;
  filter: var(--logo-shadow);
}

.flex {
  display: flex;
}

.logo-sm {
  width: 35px;
}

/* END NAVBAR STYLE */

/* BEGIN LOGIN STYLE */
.login_container-top {
  padding: 1em;
  background-color: var(--primary-color);
  color: var(--primary-white);
  /* light-gray bg image that runs behind login form */
  background-image: url("/light-gray.png");
  /* - adjust second property on bg-size to increase/decrease height */
  background-size: 100% 45px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.login_form_container {
  display: flex;
  justify-content: space-around;
}

.login_form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--primary-white);
  padding: 0.5em;
  box-shadow: var(--primary-shadow);
}

.login_form > h2 {
  text-align: center;
  margin-top: 0;
  color: var(--prept-pink);
}

.login_inputs {
  border-radius: 10px;
  background-color: var(--light-gray);
  padding: 0.2em 0.5em;
  margin: 0.4em;
}

.login_inputs input {
  border: none;
  background-color: var(--light-gray);
}

.input_icon {
  width: 12px;
  margin-right: 0.6em;
}

.login_create_link {
  color: var(--primary-color);
}
.login_create_link:hover {
  color: var(--prept-pink);
  cursor: pointer;
}

.forgot_pwd {
  text-align: right;
  font-size: 0.6em;
  margin-top: 0.2em;
  color: var(--font-gray);
}
/* END LOGIN STYLE */

/* BEGIN FORM STYLE */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_inputs {
  border: none;
  border-radius: 10px;
  background-color: var(--light-gray);
  padding: 0.4em 1em;
  margin: 0.8em;
}
label {
  font-weight: bold;
  font-size: 0.8rem;
}
/* END FORM STYLE */

/* BUTTONS */

.btn-pink {
  margin: 1em 0.5em;
  border-radius: 10px;
  border: none;
  background-color: var(--prept-pink);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--primary-white);
  transition: 0.1s ease-in-out;
}

.btn-pink:hover {
  box-shadow: var(--primary-shadow);
  transform: translateY(-1px);
}

/* HELPERS */

.center {
  text-align: center;
}

/* MAIN CONTENT */
.main_container {
  /* display: flex;
  flex-direction: column;
  flex: 1 0 auto; */
  background-color: var(--light-gray);
}

.main_content {
  max-width: 800px;
  min-width: 350px;
  align-self: center;
  padding: 1rem;
}

.main_content h1 {
  color: var(--font-gray-dark);
  margin: 0.5rem 0;
}

.main_content h3 {
  color: var(--prept-pink);
}

.main_content_header {
  display: flex;
  justify-content: space-between;
}

.imgwrap {
  width: 70px;
}

.main_header_img {
  width: 60px;
}

.header_lft {
  display: flex;
}

.header_details_rt {
  text-align: center;
}

.header_details_rt h1,
h4 {
  margin: 0px;
}

.flex-col {
  flex-direction: column;
}

.inventory_add {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* BEGIN GENERIC CARD PROPERTIES*/
.card {
  border-radius: 0.5rem;
  display: flex;
  background-color: var(--primary-white);
  padding: 1em;
  box-shadow: var(--secondary-shadow);
  margin-bottom: 1em;
  transition: 0.1s ease-in-out;
}
.card:hover {
  background-color: var(--primary-white);
  box-shadow: var(--primary-shadow);
  transform: translateY(-2px);
}

.card_title {
  min-width: 180px;
  margin-bottom: 0.5em;
}

.card_middle-lg {
  display: flex;
  font-size: 1.5rem;
  /* font-weight: bold; */
  align-items: center;
}

.smaller {
  font-size: 1rem;
}

.card_status {
  display: flex;
  margin: 0.5em 0;
  align-items: center;
}

.edit-delete_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-delete_btns button {
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.5;
  color: var(--primary-white);
  border-radius: 5px;
}

.edit-delete_btns button:hover {
  opacity: 1;
}

button.edit {
  background-color: var(--btn-green);
}
button.delete {
  background-color: var(--prept-pink);
}

/* END GENERIC CARD PROPERTIES */

/* BEGIN WELCOME CONTENT */

.welcome_card {
  flex-direction: row;
}

.welcome_card p {
  padding: 0 1em;
}
.welcome_card img {
  width: 60px;
}

.welcome_card_right {
  text-align: center;
  min-width: 130px;
}

.complete {
  background-color: rgb(223, 223, 223);
}

/* END WELCOME CONTENT */

/* BEGIN HOUSEHOLD CONTENT */
.household_card {
  flex-direction: row;
  justify-content: space-between;
}

.household_card img {
  width: 25px;
  margin-right: 0.5rem;
}

/* CREDITS */
.icon-credits {
  text-align: center;
  font-size: 0.5em;
}

/* TOOLTIPS */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted var(--font-gray); /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: var(--primary-white);
  color: var(--prept-pink);
  text-align: center;
  padding: 3px 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: -3px;
  left: -0px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  border-bottom: 2px dotted var(--primary-white);
}
